* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 3.5vw;
  color: #1e3948;
}

@media (max-width: 500px) {
  body {
    font-size: 1.5em;
  }
}

.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center 
}

.card {
  border-radius: 4px;
  width: 70%;
  padding: 10px;
  text-align: center;
  background-color: white;
  position: inherit;
  display: flex;
  flex-direction: column;
}

.name {
  animation: slideUp 1s;
  font-size: 1em;
  white-space: nowrap;
}

@keyframes slideUp {
  from {
    transform: translateY(5px);
    opacity: .5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.face-unloaded {
  visibility: hidden;
}

.face {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  align-self: center;
  animation: imageIn 3s;
}

@keyframes imageIn {
  from {
    filter: saturate(80%) contrast(50%);
  }
  to {
    filter: saturate(100%) contrast(100%);
  }
}

.info {
  font-weight: 300;
  font-size: 0.7em;
  margin-bottom: .7em;
  animation: slideDown 1s;
}

@keyframes slideDown {
  from {
    transform: translateY(-5px);
    opacity: .5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ul.img-links {
  font-size: 20px;
  line-height: 1em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  list-style: none;
}

ul.img-links img {
  width: 20px;
  height: 20px;
}

ul.img-links li {
  float: left;
  padding: 5px;
}

ul.img-links li a {
  text-decoration: none;
}