* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 22px;
  background-color: #EFF1F3;
  color: #1e3948;
}

.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center 
}

.card {
  border: 1px solid #DBD3D8;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.name {
  margin-bottom: 5px;
  line-height: 1.6;
}

ul.img-links {
  font-size: 20px;
  color: red;
}

ul.img-links img {
  width: 20px;
  height: 20px;
}

ul.img-links li {
  display: inline-block;
}

ul.img-links li a {
  text-decoration: none;
}

.img-links .cv {
  line-height: 20px;
  font-weight: 300;
  vertical-align: bottom;
}

.info {
  font-weight: 300;
  font-size: 0.7em;
  margin-bottom: 20px;
}

.add-info {
  font-size: 0.7em;
  display: none;
}